<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Foodies Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          {{util.translate('Address')}}
        </div>
        <div class="card-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th> {{util.translate('Id')}}</th>
                <th> {{util.translate('User')}}</th>
                <th> {{util.translate('Title')}}</th>
                <th> {{util.translate('Address')}} </th>
                <th> {{util.translate('House')}} </th>
                <th> {{util.translate('Landmark')}} </th>
                <th> {{util.translate('Pincode')}} </th>
                <th> {{util.translate('Actions')}} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dummy">
                <td *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                </td>
              </tr>
              <tr *ngFor="let item of list | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page }">
                <td> {{item.id}} </td>
                <td>
                  {{item.first_name}} {{item.last_name}}
                </td>
                <td>
                  {{getTitle(item.title)}}
                </td>

                <td>
                  {{item.address}}
                </td>

                <td>
                  {{item.house}}
                </td>

                <td>
                  {{item.landmark}}
                </td>

                <td>
                  {{item.pincode}}
                </td>
                <td>
                  <c-badge color="danger" class="me-1 badge bg-danger" (click)="deleteAddress(item)">
                    {{ util.translate('Delete')}}
                  </c-badge>

                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="list?.length > 0">
            <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
