/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Foodies Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
*/
.help {
  background: lightyellow;
  font-size: 10px;
  width: max-content;
  color: red;
}

.req {
  border: 1px solid red;
}
