<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Foodies Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          {{util.translate('Category Information')}}
        </div>
        <div class="card-body">
          <div class="logoContainer">
            <img [src]="api.imageUrl+ cover" onError="this.src='assets/img/dummy.jpeg'">
          </div>
          <div class="fileContainer sprite">
            <span> {{util.translate('Add Cover')}} </span>
            <input (change)="preview_banner($event.target.files)" type="file" value="Choose File">
          </div>
          <p class="text-heler">{{util.translate('Files types accepted: .jpg, .jpeg, .png, .bmp recommended size (512 X
            512) pixels')}} </p>
          <form>
            <div class="form-group">
              <label class="modal_lbl">{{util.translate('Category Name')}}</label>
              <input class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
                [placeholder]="util.translate('Category Name')">
            </div>

            <div class="form-group">
              <label class="modal_lbl">{{util.translate('Category Kind')}}</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="kind">
                <option [value]="1">{{util.translate('Breakfast')}}</option>
                <option [value]="2">{{util.translate('Lunch')}}</option>
                <option [value]="3">{{util.translate('Dinner')}}</option>
                <option [value]="4">{{util.translate('None')}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="modal_lbl">{{util.translate('Category Status')}}</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="status">
                <option value="-1">{{util.translate('Select Status')}}</option>
                <option value="1">{{util.translate('Active')}}</option>
                <option value="0">{{util.translate('Deactive')}}</option>
              </select>
            </div>

          </form>
          <br>
          <button type="button" class="btn btn-success" *ngIf="this.action == 'create'" (click)="createCategory()">
            {{util.translate('Save')}}</button>
          <button type="button" class="btn btn btn-primary" *ngIf="this.action == 'update'" (click)="updateCategory()">
            {{util.translate('Update')}}</button>

        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          {{util.translate('All Categories')}}
        </div>
        <div class="card-body">

          <div class="row flex_row">
            <div class="col-lg-12">
              <input type="text" class="form-control" id="name" [placeholder]="util.translate('Search Category')"
                (input)="search($event.target.value)">
            </div>
          </div>

          <div class="error_div" *ngIf="categories?.length <= 0 && dummy?.length <= 0">
            <label>{{util.translate('No Data Found..')}}</label>
          </div>

          <table class="table table-responsive-sm table-hover mb-0">
            <thead *ngIf="categories?.length > 0">
              <tr>
                <th>{{util.translate('Cover')}}</th>
                <th>{{util.translate('Category Name')}}</th>
                <th>{{util.translate('Category Kind')}}</th>
                <th>{{util.translate('Action')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dummy">
                <td *ngFor="let item of [1,2,3,4]">
                  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                </td>
              </tr>
              <tr *ngFor="let item of categories | paginate: {id:'pagin1', itemsPerPage: 5, currentPage: page }">
                <td>
                  <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                    [src]="api.imageUrl + item.cover" onError="this.src='assets/img/dummy.jpeg'">
                </td>
                <td>{{item.name}}</td>
                <td>{{kindInfo[item.kind]}}</td>
                <td>
                  <c-badge [color]="item.status == 1?'success':'dark'"
                    [class]="item.status == 1 ? 'me-1 badge bg-success':'me-1 badge bg-dark'"
                    (click)="statusUpdate(item)">
                    {{item.status == 1 ?util.translate('Active'):util.translate('Deactived')}}
                  </c-badge>

                  <c-badge color="info" class="me-1 badge bg-info" (click)="updateInfo(item.id)">
                    {{ util.translate('View')}}
                  </c-badge>

                  <c-badge color="danger" class="me-1 badge bg-danger" (click)="deleteItem(item)">
                    {{ util.translate('Delete')}}
                  </c-badge>

                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="categories?.length > 0">
            <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
