<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Foodies Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5>{{util.translate('Blog Details')}}</h5>
      </div>
      <div class="card-body reset-table p-t-0">

        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{util.translate('Title')}}</label>
            <input type="text" [(ngModel)]="title" class="form-control" [placeholder]="util.translate('Title')">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{util.translate('Short Content')}}</label>
            <textarea type="text" [(ngModel)]="shortContent" class="form-control" rows="5"
              [placeholder]="util.translate('Short Content')"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{util.translate('Contents')}}</label>
            <ckeditor [(ngModel)]="cotent" (change)="onChange($event)" (editorChange)="onEditorChange($event)"
              debounce="500">
            </ckeditor>

          </div>
        </div>

        <div class="form-group row">

          <label class="col-sm-4 col-form-label">{{util.translate('Upload cover image here')}}</label>
          <div class="col-sm-4">
            <input (change)="preview_banner($event.target.files)" type="file" class="form-control" accept="image/*">
          </div>
          <div class="col-sm-4">
            <img [src]="api.imageUrl+ cover" alt="" style="height: 100px;width: 100px;float: right;"
              onError="this.src='assets/img/dummy.jpeg'">
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-danger btn-round" (click)="submit()">{{util.translate('Submit')}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
