<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62057288644-fsdjunadq8vh5rupmllsv3thhrl9cnoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62057288644-fsdjunadq8vh5rupmllsv3thhrl9cnoh</string>
	<key>API_KEY</key>
	<string>AIzaSyBPBYtNPKJxD85DfIhaNxEaNz6l8GGbx1A</string>
	<key>GCM_SENDER_ID</key>
	<string>62057288644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodiesUser</string>
	<key>PROJECT_ID</key>
	<string>foodies-25317</string>
	<key>STORAGE_BUCKET</key>
	<string>foodies-25317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62057288644:ios:29e1d3b005a1b2b5d74a91</string>
	<key>DATABASE_URL</key>
	<string>https://foodies-25317.firebaseio.com</string>
</dict>
</plist>