<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Foodies Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          {{util.translate('Send Notifications')}}
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">

              <div class="form-group">
                <label>{{util.translate('Notification Title')}}</label>
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="title"
                  [placeholder]="util.translate('Notification Title')">
              </div>

              <div class="form-group">
                <label>{{util.translate('Notification Details')}}</label>
                <textarea type="text" class="form-control" rows="6" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="descriptions" [placeholder]="util.translate('Notification Details')"></textarea>
              </div>

              <div class="form-group">
                <label>{{util.translate('Send Notification To')}}</label>
                <select name="select" [(ngModel)]="sendTo" class="form-control">
                  <option [value]="1">{{util.translate('All')}} </option>
                  <option [value]="2">{{util.translate('Users')}} </option>
                  <option [value]="3">{{util.translate('Stores')}} </option>
                  <option [value]="4">{{util.translate('Drivers')}} </option>
                </select>
              </div>

              <button type="button" class="btn btn-success" (click)="sendNotifications()">
                {{util.translate('Submit')}}</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
