<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Foodies Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="5">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>{{util.translate('Reset Password')}}</h1>
                <p class="text-medium-emphasis">{{util.translate('Enter your credentials')}} </p>
                <c-input-group class="mb-3" *ngIf="div == 1">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input cFormControl [placeholder]="util.translate('Email')" type="email" [(ngModel)]="email"
                    [class]="submited== true && email =='' ?'validator_error':''"
                    [ngModelOptions]="{standalone: true}" />
                </c-input-group>
                <c-input-group class="mb-4" *ngIf="div == 2">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input cFormControl [placeholder]="util.translate('Please enter OTP')" type="text" [(ngModel)]="otp"
                    [class]="submited== true && otp =='' ?'validator_error':''" [ngModelOptions]="{standalone: true}" />
                </c-input-group>

                <c-input-group class="mb-4" *ngIf="div == 3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input cFormControl [placeholder]="util.translate('Password')" type="text" [(ngModel)]="password"
                    [class]="submited== true && password =='' ?'validator_error':''"
                    [ngModelOptions]="{standalone: true}" />
                </c-input-group>

                <c-input-group class="mb-4" *ngIf="div == 3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input cFormControl [placeholder]="util.translate('Repeat password')" type="text"
                    [(ngModel)]="confirm" [class]="submited== true && confirm =='' ?'validator_error':''"
                    [ngModelOptions]="{standalone: true}" />
                </c-input-group>

                <c-row>
                  <c-col xs="12">
                    <button cButton class="px-4" color="primary" *ngIf="div == 1" (click)="goToTabs()">
                      {{util.translate('Send OTP')}}
                    </button>

                    <button cButton class="px-4" color="primary" *ngIf="div == 2" (click)="onOTP()">
                      {{util.translate('Verify OTP')}}
                    </button>

                    <button cButton class="px-4" color="primary" *ngIf="div == 3" (click)="updatePassword()">
                      {{util.translate('Update Password')}}
                    </button>

                  </c-col>

                </c-row>
              </form>
            </c-card-body>
          </c-card>

        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>